* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//*.blackheader {
  border: 35px solid black;
  margin: 0;
  padding: 0;
}*/

.logorock {
  
}

.onelogo {
  width: 200px;
}

.begin-button {
  display: flex;
}

.asked-button {
  display: flex;
}

.support-button {
  display: flex;
}
