#letA {
  color: blue;
}
#letN {
  color: brown;
}
#letD {
  color: cadetblue;
}
#letR {
  color: mediumslateblue;
}
#letO {
  color: tomato;
}
#letM {
  color: violet;
}
#letE {
  color: yellowgreen;
}
#letD {
  color: turquoise;
}
#letA2 {
  color: blueviolet;
}
