.postgeneral {
  border: solid;
  border-color: rgb(83, 90, 90);
  border-width: 0px 0px 1px 0px;
  background-color: #fffafa;
  padding: 20px 30px 30px 30px;
  margin: 0px 250px;
}
.postend {
  border: solid;
  border-color: rgb(83, 90, 90);
  border-width: 0px 0px 0px 0px;
  background-color: #fffafa;
  padding: 20px 30px 30px 30px;
  margin: 0px 250px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}

.date {
  font-family: "Roboto", sans-serif;
  color: #008080;
  margin: 2px 2px 0px 2px;
}

.post-content {
  font-family: "Open Sans", sans-serif;
}
